@model Editory.Blog.Areas.Dashboard.ViewModels.DashboardPageViewModel

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>@string.Format("{0} {1} {2}", Model.PageTitle, string.IsNullOrEmpty(Model.PageTitle) ? "" : "-", ConfigurationsHelper.ApplicationName + " Dashboard").Replace("  ", " ").Trim()</title>
<meta name="description" content="@Model.PageDescription">